{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}



<div class="container">

    <section id="about-us-section" class="row">
        <div class="col">
            <br>
            <h2 id="about-us-heading" class="mb-4 other-headings text-center">About Us</h2>
            <hr id="about-us-hr">
            <p class="text-justify about-us-p">
                Welcome to GamesGround Store, your ultimate destination for all things gaming!
                We are thrilled to present a carefully curated selection of video games, all brought
                together in one convenient online platform. Our passion for gaming and our commitment
                to providing a seamless shopping experience drive us to create a haven for gamers
                of all ages and preferences. In today's world gamers have to sift through endless piles
                of different products to find the game they're looking for. At Gamesground we're about
                video games and video games only so fear not, if you're looking for games this is the
                place to find them.
            </p>
        </div>
    </section>
    <section id="our-mission-section" class="row">
        <div class="col">
            <br>
            <h3 class="mb-4 other-headings text-center">Our Mission</h3>
            <p class="text-justify about-us-p">
                At GamesGround Store, our mission is simple yet powerful: to fuel the gaming community's excitement
                by offering a diverse range of top-quality games that enhance your gaming journey.
                We believe that games have the power to bring people together, inspire creativity,
                and provide a source of endless entertainment. Through our platform, we aim to contribute to this
                vibrant
                culture by delivering games that resonate with both casual players and dedicated enthusiasts.
            </p>
        </div>
    </section>
    <section id="what-we-offer-section" class="row">
        <div class="col">
            <br>
            <h4 class="mb-4 other-headings text-center">What We Offer</h4>
            <p class="text-justify about-us-p">
                Discover an extensive collection of video games spanning various genres and platforms.
                From action-packed adventures to immersive RPGs, our selection is carefully curated to cater
                to every type of gamer. Looking for the latest releases? We've got you covered. Interested in exploring
                classic titles? We have those too. Our commitment to staying up-to-date with the gaming industry ensures
                that you'll find the newest and most sought-after games on our virtual shelves.
            </p>
        </div>
    </section>
    <hr class="about-us-hr-all">
</div>


<section id="other-interesting-sites-section" class="row mt-4 mb-4 info-headings bg-dark rounded">
    <div class="col-md-4 mt-2 info-border" id="top-info-external">
        <a class="index-info-links" href="https://gameserrors.com/" target="_blank" rel="noopener"
            aria-label="Takes user to gameserrors blog (opens in a new tab)">
            <h5><i class="fa-solid fa-hat-wizard"></i> Guides & tricks</h5>
            <p class="index-info-para">Looking for games fixes, guides, faqs? Visit Gameserrors blog</p>
        </a>
        <hr class="index-hr separator d-sm-block d-md-none">
    </div>

    <div class="col-md-4 mt-2 info-border">
        <a class="index-info-links" href="https://wolfsgamingblog.com/" target="_blank" rel="noopener"
            aria-label="Takes user to Wolfsgaming blog (opens in a new tab)">
            <h5><i class="fa-solid fa-book-open-reader"></i> Reviews & news</h5>
            <p class="index-info-para">Read the latest reviews and news on video games at Wolfsgaming blog</p>
        </a>
        <hr class="index-hr separator d-sm-block d-md-none">
    </div>
    <div class="col-md-4 mt-2">
        <a class="index-info-links"
            href="https://www.amazon.com/s?k=gaming+accessories&sprefix=gaming+acc%2Caps%2C185&ref=nb_sb_ss_ts-doa-p_1_10"
            target="_blank" rel="noopener" aria-label="Takes user to amazon.com (opens in a new tab)">
            <h5><i class="fa-brands fa-amazon"></i> Looking for gaming accesories?</h5>
            <p class="mr-1 index-info-para">Visit amazon.com for the hottest gaming accesories</p>
        </a>
    </div>
</section>

{% endblock %}