{% extends "base.html" %}
{% load static %}


{% block content %}

<section id="welcome">
    <div class="jumbotron hero">
        <div class="jumbo-wrapper">
            <h1 id="jumbo-title" class="display-4">Gamesground</h1>
            <p class="lead">Welcome to the video-games store where you'll find video games and video games only.</p>
            <hr class="my-4 index-hr">
            <p><span><strong><em>We have games for every console, niche, genre, age and
                            taste.</em></strong></span></p>
            <a class="btn btn-primary btn-lg" id="jumbo-a" href="{% url 'games' %}?platform=PS5,PS4,XBOX ONE,XBOX SERIES X/S,NINTENDO SWITCH,PC" role="button">Shop Now</a>
        </div>
    </div>
</section>

<section id="games-assortment">
    <div class="container-fluid index-wrapper">
        <hr class="index-hr hr-width">
        <div class="row mt-3">
            <div class="col-12 mt-3 pr-0 pl-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{% url 'games' %}?platform=PS5,PS4">
                                <div class="card-body index-card">
                                    <div class="image-container">
                                        <img class="card-img-top rounded" src="{% static 'images/ps-controller.webp' %}"
                                            alt="play station controller">
                                    </div>

                                    <h2 class="card-title index-card-title">Play Station Games
                                    </h2>

                                    <p class="card-text">Checkout our newest PS games</p>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{% url 'games' %}?platform=XBOX SERIES X/S,XBOX ONE">
                                <div class="card-body index-card">
                                    <div class="image-container">
                                        <img class="card-img-top rounded"
                                            src="{% static 'images/xbox-controller.webp' %}"
                                            alt="xbox controller station controller">
                                    </div>

                                    <h2 class="card-title index-card-title">Xbox Games
                                    </h2>

                                    <p class="card-text">You prefer the Xbox consoles? We've got you covered</p>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="{% url 'games' %}?platform=PC">
                                <div class="card-body index-card">
                                    <div class="image-container">
                                        <img class="card-img-top rounded" src="{% static 'images/pc-controller.webp' %}"
                                            alt="keyboard and mouse">
                                    </div>

                                    <h2 class="card-title index-card-title">Pc Games
                                    </h2>

                                    <p class="card-text">Keyboard and mouse will never get old!</p>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<hr class="index-hr hr-width">

<section id="info-section">
    <div class="row mt-4 mb-4 info-headings bg-dark rounded">
        <div class="col-md-4 mt-2 info-border" id="top-info">
            <h3><i class="fa-solid fa-euro-sign"></i> best prices in the market</h3>
            <p>Most Competitive Prices On All Video Games</p>
            <hr class="index-hr separator d-sm-block d-md-none">
        </div>

        <div class="col-md-4 mt-2 info-border">
            <h3><i class="fa-solid fa-lock"></i> Secure checkout</h3>
            <p>Your Payment and Data Will Be Handled Securely</p>
            <hr class="index-hr separator d-sm-block d-md-none">
        </div>
        <div class="col-md-4 mt-2">
            <h3><i class="fa-solid fa-envelope"></i></i> Customer support</h3>
            <p class="mr-1">Should You Have Any Issues You Can Contact Us</p>
        </div>
    </div>
</section>

{% endblock %}