{% extends 'base.html' %}
{% load static %}

{% block title %}Newsletter{% endblock %}

{% block content %}



  <div class="container newsletter-container">

    <div class="row">
        <div class="col">
            <br>
            <h2 class="mb-4 other-headings">Newsletter</h2>
            <hr class="checkout-hr">
            <h3 class="mb-4 add-game-heading other-headings">Subscribe to our newsletter and get the latest news, special offers and more on all our games!</h3>
            <hr class="checkout-hr">
        </div>
    </div>
    <div class="row add-edit-game-row">
        <div class="col-12 col-md-6 add-game-form-style rounded">
            <form method="POST" class="form mb-3 mt-3">
                {% csrf_token %}

                {{ form|crispy }}
                <div class="text-right">
                    <a class="btn btn-shopping-basket rounded mr-2 text-uppercase" href="{% url 'games' %}?platform=PS5,PS4,XBOX ONE,XBOX SERIES X/S,NINTENDO SWITCH,PC" aria-label="takes user to all games page">Cancel</a>
                    <button id="subscribe-button" class="btn btn-shopping-basket rounded text-uppercase" type="submit" aria-label="subscribes to site newsletter">Subscribe</button>
                </div>
            </form>
        </div>            
    </div>
</div>

{% endblock %}