{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}


<section id="my-profile-section" class="container checkout-container">


    <div class="row">
        <div class="col">
            <br>
            <hr class="checkout-hr">
            <h2 class="mb-4">My Profile</h2>
            <hr class="checkout-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 rounded profile-form-style">
            <p class="mt-2">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-shopping-basket rounded text-uppercase float-right mb-2 all-buttons-font" aria-label="updates user profile">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="mt-2">Order History</p>
            <hr class="index-hr">
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless order-history-table">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Games</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a id="order-history-link" href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}" aria-label="takes user to order history page">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.linegames.all %}
                                            <li class="small">
                                                {{ item.game.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>€{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}