.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
    border-radius: 0.25rem;
}

#profile-update-form .form-control {
    color: #000000;
}


#profile-update-form input::placeholder {
    color: #919191;
}

.order-history-table {
    color: #FFF5F9;
}

#order-history-link:hover {
    color: #F9F871!important;
    text-decoration: underline!important;
}

.profile-form-style {
    background-color: #005B60;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000000;
}

#id_default_country option:first-child {
    color: #919191!important;
}

@media (max-width:767px){
    .order-history {
        font-size: small;
    }
}