html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #677381; /* Matching Gradient from base color #000000 */
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    color: white!important;
}

/* BACK TO TOP BUTTON */

#btn-back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    display: none;
    background-color: white;
    border: none;
    color: #000000; /* base color #000000 */
    z-index: 1;
  }

  #btn-back-to-top:hover {
    background-color: #FFE3F1; /* Spot Palette from base color #000000 */
  }

/* HERO IMAGE JUMBOTRON */

.head-img-wrapper {
    height: 300px;
    align-content: center;
}

.hero {
    background: url('/static/images/hero.jpg') no-repeat fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    max-height: 450px;
    border-radius: 0!important;
}

.jumbo-wrapper {
    background-color: rgba(0,0,0,.3); /* #000000 in rgba base color #000000 */
    height: -webkit-fill-available;
    padding: 15px;
    border-radius: 15px;
}

#jumbo-a {
    background-color: #00E6E4;
    color: #000000!important;
    border-color: transparent;
}

#jumbo-a:hover {
    background-color: white!important;
}

#jumbo-stext {
    background-color: rgba(0,0,0,.6);
    padding: 3px;
    border-radius: 5px;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6, .hero, a {
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.info-headings {
    text-align: center;
    min-height: 200px;
    align-content: center;
}

a:hover {
    text-decoration: none!important;
}

/* NAVBAR */

.search-icon {
    color: white;
    background-color: #000000;
    border-color: #000000;;
}

.search-form {
    margin-right: 10px;
}

.logo-img {
    width: auto!important;
}

.logo-font {
    text-transform: uppercase;
}

.bg-dark {
    background-color: #4B4A54!important; /* Matching Gradient from base color #000000 */
}

.nav-hover:hover {
    color: #00C9C8!important; /* Generic Gradient from base color #000000 */
}

.dropdown-item{
    color: #000000!important;
}

.topnav-margin {
    margin-right: 0;
    margin-left: 0;
}

/* INDEX */

.card {
    border: none!important;
    background-color: transparent;
}

.card-body {
    background-color: rgba(0,230,228,.6); /* #00E6E4 in rgba Pin Palette from base color #000000 */
    border-radius: 8px;
}

.card-body:hover {
    color: #4B4A54;
    background-color: rgba(0,230,228, 1);
}

.card-title {
    font-size: 1.8rem;
    margin-top: 5px;
}

.index-wrapper {
    width: 98%;
    margin: 0 auto;
}

.card:hover {
    color: #4B4A54!important;
}

.index-hr {
    border-color: #FFF5F9; /* Natural Palette from base color #000000 */
}

.hr-width {
    max-width: 70em;
}

.separator {
    max-width: 12em;
}

/* GAMES */

.game-title {
    font-size: 1.3rem;
}

#game-info-card:hover {
    color: #4B4A54!important;
}

.games-container{
    width: 95%;
}

.platform-badge {
    background-color: #000000;
    font-family: 'Catamaran', sans-serif;
}

.platform-badge:hover {
    background-color: white;
    color: #000000!important;
}

.pegi-row{
    max-width: fit-content;
    margin: 0 auto;
}

.pegi-badge{
    background-color: #000000;
    font-family: 'Catamaran', sans-serif;
}

.link-home:hover{
    color: #00E6E4!important;
    text-decoration: underline!important;
}

/* GAME DETAIL */

#game-detail-container {
    width: 95%;
}

.game-detail-img {
    border-radius: 20px;
    max-width: 100%;
    min-height: 285px;
    margin-top: 18px;
}

.game-description {
    text-align: justify;
}

.genre-style {
    background-color: rgba(217,218,255,.8); /* #D9DAFF in rgba Skip Shade Gradient from base color #000000 */
    border-radius: 5px;
    padding: 0 5px;
    color: #000000!important;
    border: 1px solid #FFF5F9;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;;
}

.genre-style:hover {
    background-color: #00E6E4;
}

.game-trailer {
    border-radius: 10px;
}

.plat-pegi-hover:hover {
    color: #F9F871!important;
}

/* FOOTER */

.footer-container {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #4B4A54;
    padding: 30px 0px;
    text-align: center;
}

.footer .row {
    width: 100%;
    height: 3vh;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
    display: block;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #00C9C8!important; /* Generic Gradient from base color #000000 */
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        padding: 5% 2% 2% 2%;
    }

    .footer .row ul {
        padding: 0;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .footer .row {
        height: auto;
    }
}


@media (max-width:1024px) {
    .hero {
        background-position: center;
    }
}


@media (max-width:768px) {
    #jumbo-title {
        font-size: 2.3em;
    }
}

@media (max-width:767px) {
    #top-info{
        margin-top: 15px!important;
    }
}

@media (max-width:520px){
    #jumbo-stext {
        background-color: transparent;
    }
}

@media (min-width:768px) {
    .info-border {
        border-right: 1px solid #FFF5F9;
    }

    .card-text-overflow{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
    }
}

