html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #FFFFFF;
    background-color: #677381; /* Matching Gradient from base color #000000 */
    font-family: 'Merriweather Sans', sans-serif;
    overflow-x: hidden;
}

a {
    color: #FFFFFF!important;
}

/* BACK TO TOP BUTTON */

#btn-back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    display: none;
    background-color: #FFFFFF;
    border: none;
    color: #000000; /* base color #000000 */
    z-index: 1;
  }

  #btn-back-to-top:hover {
    background-color: #FFE3F1; /* Spot Palette from base color #000000 */
  }

/* HERO IMAGE JUMBOTRON */

.head-img-wrapper {
    height: 300px;
    align-content: center;
}

.hero {
    background: url('/static/images/hero.webp') no-repeat;
    background-size: cover;
    max-height: 450px;
    border-radius: 0!important;
}

.jumbo-wrapper {
    background-color: rgba(0,0,0,.7); /* #000000 in rgba base color #000000 */
    height: -webkit-fill-available;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
}

#jumbo-a {
    background-color: #00E6E4;
    color: #000000!important;
    border-color: transparent;
}

#jumbo-a:hover {
    background-color: #FFFFFF!important;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6, .hero, a {
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.info-headings {
    text-align: center;
    min-height: 200px;
    align-content: center;
}

a:hover {
    text-decoration: none!important;
}

/* NAVBAR */

.search-icon {
    background-color: #000000;
}

.search-form {
    margin-right: 10px;
}

.logo-img {
    width: auto!important;
}

.logo-font {
    text-transform: uppercase;
}

.bg-dark {
    background-color: #4B4A54!important; /* Matching Gradient from base color #000000 */
}

.nav-hover:hover {
    color: #00C9C8!important; /* Generic Gradient from base color #000000 */
}

.dropdown-item{
    color: #000000!important;
}

.topnav-margin {
    margin: 0;
}

.basket-icon {
    color: #FFFFFF;
}

input[name='q']::placeholder {
    color: #919191; /* Shades from base color #000000 */
}

.menu-style {
    margin: 0 auto;
    padding-left: 0;
}

#search-submit-desk {
    color: #FFF5F9;
}

#mobile-basket {
    right: 0;
    position: absolute;
    margin-top: 12px;
    font-size: larger;
}

.active-link {
    text-decoration: underline!important;
}

/* MESSAGES */

.all-messages{
    width: 95vw;
    margin: 10px auto;
}

/* INDEX */

.card {
    border: none!important;
    background-color: transparent;
}

.card-body {
    background-color: rgba(0,230,228,.6); /* #00E6E4 in rgba Pin Palette from base color #000000 */
    border-radius: 8px;
}

.index-card{
    min-height: 347px;
    color: #000000;
}

.card-body:hover {
    color: #4B4A54;
    background-color: rgba(0,230,228, 1);
}

.card-title {
    font-size: 1.8rem;
    margin-top: 5px;
}

.index-wrapper {
    width: 98%;
    margin: 0 auto;
}

.card:hover {
    color: #4B4A54!important;
}

.index-hr {
    border-color: #FFF5F9;
}

.hr-width {
    max-width: 70em;
}

.separator {
    max-width: 12em;
}

.index-info-para {
    font-family: 'Merriweather Sans', sans-serif;
}

.index-info-links:hover {
    color: #F9F871!important;
    text-decoration: underline!important;
}

.lead {
    text-transform: none;
}

/* GAMES */

.game-title {
    font-size: 1.3rem;
}

#game-info-card:hover {
    color: #4B4A54!important;
}

.games-container{
    width: 95%;
}

.platform-badge {
    background-color: #000000;
    font-family: 'Catamaran', sans-serif;
}

.platform-badge:hover {
    background-color: #FFFFFF;
    color: #000000!important;
}

.pegi-row{
    max-width: fit-content;
    margin: 0 auto;
}

.pegi-badge{
    background-color: #000000;
    font-family: 'Catamaran', sans-serif;
}

.link-home:hover{
    color: #00E6E4!important;
    text-decoration: underline!important;
}

.site-wide-alert {
    color: #000000;
    background-color: #F9F871; /* Generic Gradient from base color #000000 */
}

.games-cards-font-color {
    color: #000000!important;
}

.edit-delete-buttom-separator {
    border-top: 1px solid #FFF5F9;
}

#games-home {
    font-size: 1rem;
    text-transform: none;
    font-family: 'Merriweather Sans', sans-serif;

}

/* GAME DETAIL */

#game-detail-container {
    width: 95%;
}

.game-detail-img {
    border-radius: 20px;
    margin-top: 18px;
}

.input-width {
    max-width: 49%;
}

.game-description {
    text-align: justify;
}

.genre-style {
    padding: 0 5px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;;
}

.game-trailer {
    border-radius: 10px;
}

.add-input {
    border: none;
    font-family: 'Catamaran', sans-serif;
}

.add-input:hover {
    color: #00C9C8;
}

.video-background {
    margin: 0 auto;
}

.not-liked {
    color: #FFF5F9;
    background-color: transparent;
    border: none;
}

.not-liked:hover {
    color: #F9F871;
}

.liked-game {
    background-color: transparent;
    border: none;
    color: #F9F871;
}

.liked-game:hover {
    color: #FFF5F9;
}

.liked-game.focus, .not-liked:focus {
    box-shadow: none !important;
}

.not-liked.focus, .liked-game:focus {
    box-shadow: none !important;
}

.game-detail-hr {
    border-top: 1px solid #FFF5F9;
}

/* GAMES FORM */

.btn-file {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.1rem;
    border-color: #919191;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FB4F93; /* Pin Palette from base color #000000 */
    border-color: #F9F871;
    border-radius: 0.1rem;
}

#div_id_pegi_rating {
    margin-bottom: 30px;
}

#div_id_available_in_other_consoles {
    margin-top: 25px;
}

.img-widget {
    color: #F9F871;
}

.add-edit-game-row {
    width: 98%;
    margin: 0 auto;
}

/* BASKET */

.table-head {
    color: #000000;
    background-color: #FFF5F9;
}

.tmb {
    margin-bottom: 0!important;
}

.table-game-info {
    background-color: #A3CFCD; /* Matching Gradient from base color #000000 */
    border-bottom: 1px solid #000000;
}

.btn-inc-dec {
    background: #000000!important;
    color: #FFFFFF;
}

.btn-inc-dec:hover {
    color: #00C9C8;
}

.table-total {
    background-color: rgba(0,230,228,.5);
}

.btn-shopping-basket {
    background-color: #00C9C8;
    color: #000000!important;
}

.btn-shopping-basket:hover {
    background-color: #000000;
    color: #00C9C8!important;
}

.update-link{
    font-family: 'Merriweather Sans', sans-serif!important;
}

.remove-item{
    font-family: 'Merriweather Sans', sans-serif!important;
}

.basket-total-mobile {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
}

.game-info-mobile{
    background-color: #A3CFCD;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
}

.basket-headings {
    text-transform: capitalize!important;
}

.basket-total-heading {
    font-size: 1.6rem;
}

.basket-total-heading-mobile {
    font-size: 1.4rem;
}

.basket-subtotal-headings {
    font-size: 1.3rem;
}

.basket-subtotal-headings-mobile {
    font-size: 1rem;
}

.game-count-color {
    color: #F9F871!important;
}

.free-delivery {
    color: #F9F871;
    background-color: black;
    width: fit-content;
    padding: 2px;
    border-radius: 3px;
    float: right;
}

.no-games-basket {
    margin-bottom: 350px;
}

/* ADD/EDIT GAME */

.add-game-heading {
    text-transform: none;
}

.add-game-form-style {
    background-color: #005B60;
}

.form-control {
    color: #000000;
    border: 1px solid #000000;
}

.form-border {
    border: transparent;
}

.all-buttons-font {
    font-family: 'Catamaran', sans-serif!important;
}

/* DELETE GAME */

.delete-container {
    margin-bottom: 400px;
}

.delete-row {
    margin-bottom: 300px;
    width: 98%;
    margin: 0 auto;
}

/* FORM FIELD FOCUS */

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(226,182,89,.75) /* #E2B659 in rgba Generic Gradient from base color #000000 */
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(226,182,89,.75)
}

/* CONTACT-US */

.contact-container {
    margin-bottom: 150px;
}

.contact-list-info {
    background-color: #A3CFCD;
}

.message-created {
    background-color: #000000;
    color: #F9F871;
    padding: 3px;
    width: fit-content;
    margin-bottom: 5px;
}

#send-button {
    font-family: 'Catamaran', sans-serif;
}

/* NEWSLETTER */

#subscribe-button {
    font-family: 'Catamaran', sans-serif;
}

.newsletter-container {
    margin-bottom: 310px;
}

/* ABOUT-US */

#about-us-heading {
    font-size: 2rem;
}

#about-us-hr {
    border-top: 1px solid #FFF5F9;
    width: 50vw;
}

.about-us-p {
    background-color: rgba(0,0,0,.3);
    padding: 8px;
    border-radius: 0.25rem;
}

.about-us-hr-all {
    border-top: 1px solid #FFF5F9;
}

.other-headings {
    font-size: 1.5rem;
}

/* FOOTER */

.footer-container {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #4B4A54;
    padding: 30px 0px;
    text-align: center;
}

.footer .row {
    width: 100%;
    height: 3vh;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #FFFFFF;
    font-size: 0.8em;
    display: block;
}

.footer .row a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #00C9C8!important; /* Generic Gradient from base color #000000 */
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

/* MODALS */

.modal-body {
    color: #000000;
}

#pp-modal h1 {
    font-size: 1.8rem;
    text-align: center;
}

#pp-modal h1 p {
    text-align: center;
}

#pp-modal h2 {
    font-size: 1.5rem;
    text-align: left;
}

#tc-modal h1 {
    font-size: 1.8rem;
    text-align: center;
}

.modal-contact {
    color: #3A2F0B!important; /* Classy Palette from base color #000000 */
    font-family: 'Merriweather Sans', sans-serif;
}

.modal-contact:hover {
    color: #005B60!important;
    text-decoration: underline!important;
}

/* 404 & 500 PAGES */

#wrapper-404 {
    margin-top: 15px;
    margin-bottom: 80px;
}

#image-wrapper-404 {
    width: 80%;
}

#image-404 {
    border-radius: 10px;
}

#wrapper-500 {
    margin-top: 15px;
    margin-bottom: 80px;
}

#image-wrapper-500 {
    width: 80%;
}

#image-500 {
    border-radius: 10px;
}

.custom-404-500-headings {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    padding: 5px;
}


/* ALLAUTH FORMS */

.allauth-form-inner-content input {
    border-color: #000000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #919191;
}

.allauth-form-style {
    background-color: #005B60;
    margin: 0 auto;
}

.allauth-row {
    width: 98%;
    margin: 0 auto;
}

.allauth-form-inner-content button,
.allauth-form-inner-content a,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000000!important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00C9C8!important;
    border-color: transparent!important;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 8px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content a:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #00C9C8!important;
    background-color: #000000!important;
    border-color: transparent!important;
}

.allauth-form-inner-content p a {
	color: #F9F871!important;
    background-color: transparent!important;
    padding: 1px;
    vertical-align: baseline;
}


.allauth-form-inner-content p a:hover {
    color: #F9F871!important;
    background-color: transparent!important;
    text-decoration: underline!important;
}

.invalid-feedback {
    color: #F9F871!important;
}

.allauth-container{
    margin-top: 65px;
    margin-bottom: 75px;
}

.logout-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.logout-p {
    margin-top: 50px;
}

.logout-form {
    margin-top: 50px;
    margin-bottom: 150px;
}

/* MEDIA QUERIES */

@media (max-width:720px) {
    .footer {
        padding: 5% 2% 2% 2%;
    }

    .footer .row ul {
        padding: 0;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .footer .row {
        height: auto;
    }
}


@media (max-width:1024px) {
    .hero {
        background-position: center;
    }

    .game-detail-headings{
        font-size: 1.5rem;
    }
}

@media (max-width:955px){
    .custom-error-pages-row {
        margin-bottom: 228px;
    }
}


@media (max-width:768px) {
    #jumbo-title {
        font-size: 2.3em;
    }
}


@media (max-width:767px){
    .consoles-small {
        font-size: small;
        text-align: left;
    }

    .platform-badge {
        padding: 0!important;
        margin: 2px 2px 5px 2px!important;
    }

    .pegi-row {
        text-align: left;
        margin: 0;
    }

    .pegi-badge {
        margin-left: 0!important;
    }

    .free-delivery {
        width: 100%;
    }

    #top-info{
        margin-top: 15px!important;
    }

    #top-info-external {
        margin-top: 15px!important;
    }

    .other-headings {
        font-size: 1.2rem!important;
        text-align: center;
    }

    input[type=number] {
        text-align: center;
    }

    #pp-modal h1 {
        font-size: 1.4rem;
    }

    #pp-modal h2 {
        font-size: 1.1rem;
    }

    #tc-modal h1 {
        font-size: 1.4rem;
    }

}

@media (max-width:829px) {
    .small-buttons {
        padding: 0.25rem 0.56rem;
        font-size: .875rem;
        line-height: 1.5;
    }

    .add-input {
        padding: 0.31rem 0.5rem;
    }
}

@media (max-width:520px){
    .checkout-container {
        width: 94%!important;
    }
}


@media (min-width:576px) {
    .mobile-game-name{
        margin-top: 15vh!important
    }
}

@media (min-width:1040px) {
    .input-width {
        max-width: 28%;
    }
}

/* ALLAUTH MEDIA QUERIES */

@media (min-width:721px) {
    .allauth-container{
        margin-top: 145px;
        margin-bottom: 155px;
    }
}

@media (min-width:992px) {
    .allauth-container{
        margin-top: 125px;
        margin-bottom: 135px;
    }

    #navbar-padding {
        padding-right: 70px;
    }

    #topnav {
        padding-left: 0;
    }
}

@media (min-width:1580px) {
    .allauth-container{
        margin-top: 95px;
        margin-bottom: 105px;
    }
}

/* INDEX MEDIA QUERIES */

@media (max-width:1224px) {
    .info-headings h3 {
        font-size: 1.1rem;
    }
}

@media (max-width:1178px) {
    .index-card{
        min-height: 317px;
    }

    .index-card-title {
        font-size: 1.5rem;
    }    
}

@media (max-width:1114px) {
    .index-card{
        min-height: 297px;
    }

    .index-card-title {
        font-size: 1.1rem;
    }

    

    .info-headings p {
        font-size: .9rem;
    }
}

@media (max-width:767px) {
    
    .index-card-title {
        font-size: 1.6rem;
    }

    .index-card p {
        font-size: 1.3rem;
    }

    .info-headings h3 {
        font-size: 1.4rem;
    }
}


@media (min-width:1669px) {
    .index-card p {
        font-size: 1.4rem;
    }

    .index-card {
        min-height: 428px;
    }

    .input-width {
        max-width: 20%;
    }
}

@media (min-width:768px) {
    .info-border {
        border-right: 1px solid #FFF5F9;
    }

    .hero {
        background: url('/static/images/hero.webp') no-repeat fixed;
        background-size: cover;
        max-height: 450px;
        border-radius: 0!important;
    }

    .card-text-overflow{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
    }
}

@media (max-width:374px) {
    .input-width{
        max-width: 45%!important;
    }

    .small-buttons {
        font-size: .675rem;
        line-height: 1;
    }
}
