{% extends "base.html" %}
{% load static %}

{% block title %}Add Game{% endblock %}

{% block content %}
    <section id="add-game-section" class="container">

        <div class="row">
            <div class="col">
                <br>
                <h2 class="mb-4">Game Management</h2>
                <hr class="checkout-hr">
                <h3 class="mb-4 add-game-heading">Add a Game</h3>
                <hr class="checkout-hr">
            </div>
        </div>
        <div class="row add-edit-game-row">
            <div class="col-12 col-md-8 add-game-form-style rounded">
                <form method="POST" action="{% url 'add_game' %}" class="form mb-2 mt-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-shopping-basket rounded mr-2 text-uppercase" href="{% url 'games' %}?platform=PS5,PS4,XBOX%20ONE,XBOX%20SERIES%20X/S,NINTENDO%20SWITCH,PC" aria-label="takes user to all games page">Cancel</a>
                        <button class="btn btn-shopping-basket rounded all-buttons-font text-uppercase" type="submit" aria-label="adds new game">Add Game</button>
                    </div>
                </form>
            </div>            
        </div>
    </section>

        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.change-img').change(function() {
            var file = $(this)[0].files[0];
            var filenameTarget = $(this).data('img-target');
            $('#' + filenameTarget).text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
