{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block title %}Logout{% endblock %}

{% block inner_content %}

<hr class="checkout-hr">
<h2 class="logout-heading">{% trans "Sign Out" %}</h2>
<hr class="checkout-hr">

<p class="logout-p">{% trans 'Are you sure you want to sign out?' %}</p>

<form class="logout-form" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn rounded mr-1 all-buttons-font text-uppercase" href="{% url 'home' %}">Cancel</a>
  <button class="all-buttons-font text-uppercase" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
