{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Complatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.webp' %}" type="image/x-icon">

  {% block corecss %}
  <!-- Bootstrap script -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
  <!-- Base css -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <!-- Fontawesome script -->
  <script src="https://kit.fontawesome.com/7162a9ebe5.js" crossorigin="anonymous"></script>
  <!-- Bootstrap js script -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}  
  {% endblock %}

  <title>Gamesground {% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    
    <!-- Desktop logo and search bar -->
    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex navbar-dark bg-dark topnav-margin">
      <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" class="logo-img" width="100" height="94" alt="Website logo"></a>
      </div>
      <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'games' %}" class="search-form">
          <div class="input-group w-50 ml-auto">
            <input class="form-control border border-black" type="text" name="q" placeholder="Search" aria-label="search bar">
            <div class="input-group-append">
              <button id="search-submit-desk" class="search-icon form-control btn btn-black border-black" type="submit" aria-label="search bar submit button">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3 pb-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Mobile navbar inline search bar and shopping basket -->
      <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
          </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
          <form class="form" method="GET" action="{% url 'games' %}">
            <div class="input-group w-100">
              <input class="form-control border border-black" type="text" name="q" placeholder="Search" aria-label="search bar">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black" type="submit" aria-label="search bar submit button">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="list-inline-item">
        <a class="{% if game_count %}game-count-color{% endif %} nav-link d-block d-lg-none"
          href="{% url 'basket_summary' %}">
          <div class="text-center basket-icon{% if game_count %} game-count-color{% endif %}">
            <div><span class="my-0">
              {% if game_count %}
                    {{ game_count }}
                  {% else %}
                    0
                  {% endif %}
            </span> <i class="fa-solid fa-basket-shopping"></i></div>

          </div>
        </a>
      </li>
      <!-- Responsive navbar -->
      <div class="collapse navbar-collapse" id="navbarText">
        <menu class="menu-style">
        <ul class="nav navbar-nav w-auto mx-auto">

          <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-3 nav-hover {% if request.resolver_match.view_name == 'home' %}active-link{% endif %}"
              href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover {% if request.resolver_match.view_name == 'about_us' %}active-link{% endif %}"
              href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover" href="#" id="all-products-link"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a href="{% url 'games' %}?platform=PS5" class="dropdown-item">PS5 Games</a>
              <a href="{% url 'games' %}?platform=PS4" class="dropdown-item ">PS4 Games</a>
              <a href="{% url 'games' %}?platform=XBOX ONE" class="dropdown-item ">XBOX ONE Games</a>
              <a href="{% url 'games' %}?platform=XBOX SERIES X/S" class="dropdown-item ">XBOX X/S Games</a>
              <a href="{% url 'games' %}?platform=NINTENDO SWITCH" class="dropdown-item ">NINTENDO Games</a>
              <a href="{% url 'games' %}?platform=PC" class="dropdown-item ">PC Games</a>
              <a href="{% url 'games' %}?platform=PS5,PS4,XBOX ONE,XBOX SERIES X/S,NINTENDO SWITCH,PC" class="dropdown-item">All Games</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover" href="#" id="all-products-link"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a href="{% url 'games' %}?genre=Action" class="dropdown-item">Action</a>
              <a href="{% url 'games' %}?genre=Adventure" class="dropdown-item">Adventure</a>
              <a href="{% url 'games' %}?genre=Fantasy" class="dropdown-item">Fantasy</a>
              <a href="{% url 'games' %}?genre=Horror" class="dropdown-item">Horror</a>
              <a href="{% url 'games' %}?genre=Shooter" class="dropdown-item">Shooter</a>
              <a href="{% url 'games' %}?genre=Racing" class="dropdown-item">Racing</a>
              <a href="{% url 'games' %}?genre=Rpg" class="dropdown-item">Rpg</a>
              <a href="{% url 'games' %}?genre=Sports" class="dropdown-item">Sports</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover" href="#" id="all-products-link"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PEGI Rating
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a href="{% url 'games' %}?pegi_rating=3" class="dropdown-item">3</a>
              <a href="{% url 'games' %}?pegi_rating=7" class="dropdown-item">7</a>
              <a href="{% url 'games' %}?pegi_rating=12" class="dropdown-item">12</a>
              <a href="{% url 'games' %}?pegi_rating=16" class="dropdown-item">16</a>
              <a href="{% url 'games' %}?pegi_rating=18" class="dropdown-item">18</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover {% if request.resolver_match.view_name == 'contact' %}active-link{% endif %}"
              href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-3 nav-hover" href="#" id="all-products-link"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu border-0">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_game' %}" class="dropdown-item">Games Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link logo-font font-weight-bold mr-3"
              href="{% url 'basket_summary' %}">
              <div class="text-center nav-hover basket-icon{% if game_count %} game-count-color h5{% endif %}">
                <div><span class="my-0">
                  {% if game_count %}
                    {{ game_count }}
                  {% else %}
                    0
                  {% endif %}
                </span> <i class="fa-solid fa-basket-shopping"></i></div>

              </div>
            </a>
          </li>
        </ul>
        </menu>
      </div>

    </nav>


    </div>
  </header>

  <main>
    <!-- BACK TO TOP BUTTON -->
    <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" aria-label="Back to Top Button">
      <i class="fa-solid fa-arrow-up"></i>
  </button>
  <!-- Messages -->
  {% for message in messages %}
    <div class="all-messages alert text-center {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" id="msg" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}

    {% block content %}

    {% endblock content %}

  </main>

  <footer class="footer-container mt-2">
    <div class="footer">
        <div class="row">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank" rel="noopener"
            aria-label="Visit our Youtube channel (opens in a new tab)"><i class="fa fa-youtube"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noopener"
            aria-label="Visit our Twiter page (opens in a new tab)"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a></li>
                <li><a href="#" data-toggle="modal" data-target="#terms-conditions">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="row">
            Gamesground Store || Created and Coded By: Leonardo Simeone
        </div>
    </div>
</footer>


<!-- BACK TO TOP BUTTON JS-->
<script type="text/javascript">
  let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<!-- JS LOGIC TO CONTROL SORT BY BAR -->
<script type="text/javascript">
$('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset" && selectedVal!="pegi_rating_asc" && selectedVal!="pegi_rating_desc"){
                
              var sort = selectedVal.split("_")[0];
              var direction = selectedVal.split("_")[1];
              currentUrl.searchParams.set("sort", sort);
              currentUrl.searchParams.set("direction", direction);
              window.location.replace(currentUrl);

            } else if (selectedVal == "pegi_rating_asc" || selectedVal == "pegi_rating_desc"){
                var sort = ("pegi_rating")
                var direction = selectedVal.split("pegi_rating_")[1];
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })

</script>

{% block postloadjs %}

{% endblock %}

</body>

</html>