/* CHECKOUT */

.checkout-form-style{
    background-color: #005B60;
}

.checkout-hr {
    border-top: 1px solid #FFF5F9;
}

.checkout-charge-warning-text {
    background-color: #000000;
    color: #F9F871;
    padding: 2px;
    border-radius: 3px;
}

.save-info-cta {
    color: #F9F871!important;
}

.save-info-cta:hover {
    color: #000000!important;
    background-color: #F9F871;
    border-radius: 3px;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000000;
    border: 1px solid #000000;
}

.stripe-style-input:focus {
    border-color: #F9F871!important;
    box-shadow: 0 0 0 0.2rem rgba(249,248,113, .8)!important;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  background-color: white;
}

.StripeElement--focus {
    border-color: #F9F871!important;
    box-shadow: 0 0 0 0.2rem rgba(249,248,113, .8)!important;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #919191;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #919191 !important;
}

.card-error-div {
    background-color: #000000;
    color: #F9F871;
}

.checkout-section-headings {
    font-size: 1rem;
    text-transform: none;
    font-family: 'Merriweather Sans', sans-serif;
}

/* CHECKOUT SUCCESS */

.order-confirmation-wrapper{
    background-color: #000000;
    color: #FFF5F9;    
}

.checkout-success-hr {
    border-top: 1px solid #4B4A54;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

@media (max-width:420px){    
    .order-number-text {
        font-size: small;
    }
}

.info-color {
    color: #00C9C8;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 230, 228, .55);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    font-size: 2.5rem!important;
}